<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<h2>Light list </h2>
<table>
  <th>名前</th>
  <th>状態</th>
  <% Light.all.each do |light| %>
    <tr>
      <td>照明<%= light.id %></td>
      <td><%= light.status %></td>
      <td><%= link_to "変更",  {:controller => 'lights', :action => 'show', :method => :get}   %></td>
    </tr>
   <% end %>
 </table>

<%= high_chart("chart-1", @graph) %>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
